<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <specFlow>
        <unitTestProvider name="MsTest" />
    </specFlow>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <connectionStrings>
        <add name="AutoDataDB_ST" connectionString="Data Source=CSESQL5CUAT2\UAT2;Initial Catalog=AutomatedTestingData_ST; Integrated Security = true;" />
        <add name="AutoDataDB_DEV" connectionString="Data Source=CSESQL5CDEV2\DEV2;Initial Catalog=AutomatedTestingData_DEV; Integrated Security = true;" />
        <add name="AutoRunConfigDB" connectionString="Data Source=CSESQL5CUAT2\UAT2;Initial Catalog=AutomatedTestingData_ST; Integrated Security = true;" />
        <add name="AutoResultsDB" connectionString="Data Source=CSESQL5CUAT2\UAT2;Initial Catalog=AutomatedTestingResults_ST; Integrated Security = true;" />
    </connectionStrings>
</configuration>