<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
    
    <specFlow>
      <unitTestProvider name="MSTest" />
</specFlow>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="Project" value="SCRIPAU.Automation" />
        <add key="LoginFromPoolRequired" value="false" />
        <add key="WinformsUsername" value="autotest01" />
        <add key="WinformsPassword" value="computershare" />
        <add key="DefaultWinformsNode" value="CSSHYC" />
    </appSettings>
    <connectionStrings>
        <add name="AutoDataDB_ST" connectionString="Data Source=MELYN2451;Initial Catalog=AutomatedTestingData_ST; Integrated Security = true;" />
        <add name="AutoRunConfigDB" connectionString="Data Source=MELYN2451;Initial Catalog=AutomatedTestingData_ST; Integrated Security = true;" />
        <add name="AutoResultsDB" connectionString="Data Source=MELYN2451;Initial Catalog=AutomatedTestingResults_ST; Integrated Security = true;" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.9.3.7" newVersion="1.9.3.7" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>