<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
      <unitTestProvider name="MSTest" />
        <plugins>
            <add name="NUnit" path="..\packages\NUnit.3.5.0\lib\net45" />
        </plugins>
    </specFlow>
    <appSettings xdt:Transform="Replace">
        <add key="Project" value="SCRIPAU.Automation" />
        <add key="LoginFromPoolRequired" value="false" />
        <!--<add key="WinformsUsername" value="ramirezl" />
            <add key="WinformsPassword" value="12345678" />-->
        <add key="WinformsUsername" value="autotest01" />
        <add key="WinformsPassword" value="computershare" />
        <add key="DefaultWinformsNode" value="CSSHYC" />
        <add key="VMSNode" value="CSSHYC" />
        <add key="LinuxNode" value="MELYLXPOCVM16" />
        <add key="VMSUser" value="autotest01" />
        <add key="LinuxUser" value="autotest01" />
        <add key="VMSPassword" value="computershare" />
        <add key="LinuxPassword" value="computershare" />
        <add key="DownloadFolder" value="..\ReportDownloads\" />
        <add key="VMSRemoteFolderPrn" value="DSA67:[COMPANY.COMPANYCODE.PRN]" />
        <add key="VMSRemoteFolderLocal" value="DSA67:[COMPANY.COMPANYCODE]" />
        <add key="VMSRemoteFolderTrd" value="DSA67:[COMPANY.COMPANYCODE.TRD]" />
        <add key="LinuxRemoteFolderPrn" value="/company/COMPANYCODE/prn/" />
        <add key="LinuxRemoteFolderLocal" value="/company/COMPANYCODE/" />
        <add key="LinuxRemoteFolderTrd" value="/company/COMPANYCODE/trd/" />
      <add key="LocalDownloadFolder" value="C:\ReportDownloads\" />
        <add key="Mode" value="RECORD" />
      <add key="VMSDir" value="\VMS" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="AutoDataDB_ST" connectionString="Data Source=CSODEVSQL42INS3\INS3;Initial Catalog=SCRIPAU_AutomationTestData; Integrated Security = true;" />
        <add name="AutoRunConfigDB" connectionString="Data Source=CSODEVSQL42INS3\INS3;Initial Catalog=SCRIPAU_AutomationTestData; Integrated Security = true;" />
        <add name="AutoResultsDB" connectionString="Data Source=CSODEVSQL42INS3\INS3;Initial Catalog=SCRIPAU_AutomationTestResults; Integrated Security = true;" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.9.3.7" newVersion="1.9.3.7" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>